<body class="login-body container">
    <div class="login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-6 left-side">
                <img src="../../../assets/layout/images/login/login-photo.png" class="login-image" />
            </div>
            <div class="ui-g-6 ui-sm-12 right-side">
                <form autocomplete="off" #f="ngForm">
                    <div class="ui-g-12 container">
                        <h3>Bem vindo!</h3>
                        <h2>Acesso ao Sistema de Gestão de Lareiras</h2>
                    </div>
                    <div class="ui-g-12">
                        <div class="input-wrapper">
                            <input pInputText type="email" name="usuario" placeholder="Login" [(ngModel)]="creds.email" required #usuario>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="input-wrapper">
                            <input pInputText type="password" name="senha" placeholder="Senha" [(ngModel)]="creds.senha" required #senha>
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="ui-g-12 button-container">
                        <button pButton type="submit" label="Login" [disabled]="!f.valid" (click)="login(); senha.value = '';">
                        </button>
                    </div>
                    <div *ngIf="error" class="">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</body>
