<div class="layout-topbar">
    <a href="#" id="layout-menu-btn" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>

    <div class="topbar-search">
        <input type="text" class="ui-widget" />
        <i class="fa fa-search"></i>
    </div>

    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}">
            <li class="profile-item" #profile [ngClass]="{'active-topmenuitem':app.activeTopbarItem === profile}">
                <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                    <!-- <img src="assets/layout/images/avatar.png" alt="manhattan-layout" /> -->
                    <span class="topbar-item-name profile-name">{{ loggedUser.nome }}</span>
                </a>

                <ul class="fadeInDown animated">
                    <!-- <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="fa fa-fw fa-user"></i>
                            <span>Perfil</span>
                        </a>
                    </li> -->
                    <li role="menuitem">
                        <a href="#" (click)="logout()">
                            <i class="fa fa-fw fa-sign-out"></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMenuButtonClick($event)">
            <!-- <img src="assets/layout/images/avatar.png" alt="manhattan-layout" /> -->
            <span class="topbar-item-name profile-name">{{ loggedUser.nome }}</span>
        </a>

        <!-- <a href="#" class="rightpanel-btn"[ngClass]="{'rightpanel-btn-active': app.rightPanelActive}" (click)="app.onRightPanelButtonClick($event)">
            <i class="topbar-icon fa fa-fw fa-outdent"></i>
        </a> -->
    </div>
</div>
