<div class="ui-g ui-fluid">

    <p-messages></p-messages>
    <div class="ui-g-12 ui-lg-12">
        <form [formGroup]="lareiraForm" (ngSubmit)="salvar()" autocomplete="off">
            <div class="card card-w-title">
                <h1> {{ headerPage }}</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-lg-6">
                            <label for="nome">Nome</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="nome" id="nome"
                                formControlName="nome" required>
                            <div *ngIf="lareiraForm.get('nome')!.invalid && (lareiraForm.get('nome')!.dirty || lareiraForm.get('nome')!.touched)"
                                class="alert alert-danger">
                                * Obrigatório informar um nome para Lareira com mais de 5 letras
                            </div>
                        </div>
                        <div class="ui-g-12 ui-lg-6">
                            <label for="nome">Endereço</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="endereco"
                                formControlName="endereco">
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-lg-6">
                            <label for="bairro">Bairro</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="bairro" id="bairro"
                                formControlName="bairro" required>
                        </div>
                        <div class="ui-g-12 ui-lg-6">
                            <label for="cep">CEP</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="cep" id="cep"
                                formControlName="cep">
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-lg-6">
                            <label for="cidade">cidade</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="cidade" id="cidade"
                                formControlName="cidade">
                        </div>
                        <div class="ui-g-12 ui-lg-6">
                            <label for="estado">Estado</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="estado" id="estado"
                                formControlName="estado">
                        </div>
                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-lg-6">
                            <label for="telefone">Telefone</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" pInputText type="text" name="telefone"
                                formControlName="telefone">
                        </div>
                        <div class="ui-g-12 ui-lg-6">

                        </div>
                    </div>
                    <div class="ui-g-12" style="display: flex; align-items: center;">
                        <div class="ui-g-12 ui-lg-2">
                            <button pButton type="submit" label="Salvar" [disabled]="lareiraForm.invalid"></button>
                        </div>
                        <div class="ui-g-12 ui-lg-2">
                            <a routerLink="/lareira">Voltar para a pesquisa</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
