$primaryColor:#4E54C8;
$primaryTextColor:#ffffff;
$primaryDarkColor:#3B41B9;
$primaryDarkerColor:#204769;
$inputFocusBorderColor:#686DD0;
$highlightBgColor:#FFC02F;
$highlightColorText:#333333;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

//headers
$containerHeaderBgColor:#2c2d3c;
$containerHeaderBorder:1px solid #2c2d3c;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#41424f;
$containerHeaderHoverBorder:1px solid #41424f;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryTextColor;
$containerHeaderActiveIconColor:$primaryTextColor;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryTextColor;
$containerHeaderActiveHoverIconColor:$primaryTextColor;

@import '../sass/theme/_theme';
