$primaryColor:#F3904F;
$primaryTextColor:#ffffff;
$primaryDarkColor:#CD6D2D;
$primaryDarkerColor:#973c26;
$inputFocusBorderColor:#EBA77A;
$highlightBgColor:#525B94;
$highlightColorText:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

//headers
$containerHeaderBgColor:#2c2d3c;
$containerHeaderBorder:1px solid #2c2d3c;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#41424f;
$containerHeaderHoverBorder:1px solid #41424f;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryTextColor;
$containerHeaderActiveIconColor:$primaryTextColor;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryTextColor;
$containerHeaderActiveHoverIconColor:$primaryTextColor;

@import '../sass/theme/_theme';
