<div class="ui-g">
    <div class="ui-g-12 logo-container">
        <img src="../layout/images/logo-manhattan.png" />
    </div>
</div>
<div class="exception-panel">
    <div class="exception-panel-content">
        <h1>ACCESS</h1>
        <span class="secondary">DENIED</span>
        <div>
            <span><strong>You don't have the necessary permissons.</strong></span>
            <p>Better get back home and forget about that</p>
        </div>
    </div>

    <div class="exception-panel-footer">
        <button type="button" class="ui-button blue-btn ui-widget ui-state-default ui-corner-all">
            <span class="ui-button-text ui-c" style="padding:5px;">Go To Dashboard</span>
        </button>
    </div>
</div>
